# ignore userdata
XHPhotoBrowser/XHPhotoBrowser.xcodeproj/xcuserdata/*
XHPhotoBrowser/XHPhotoBrowser.xcworkspace/xcuserdata/*
# ignore cocoaPods
# XHPhotoBrowser/Pods
XHPhotoBrowser.xcworkspace/xcuserdata/cxh.xcuserdatad/xcdebugger
XHPhotoBrowser.xcworkspace/xcshareddata
*.xcbkptlist
